include advertisement.jade

.contBlock.light
	.b1366px
		.wrap.articlePage
			.leftPanel
				+ads-leaderboardLight
				.articleMainImg
					img(src="http://lorempixel.com/770/355/")
				.titleBox
					h2 Alaska takes on Barangay Ginebra and Mahindra in Dubai
				.views
					p.dateuploaded Uploaded on 3/15/2015 
					p.count 143,685 Views
				.articleTextWrap
					.socialFeeds
						a(href="#", class="fbLink") <i class="fa fa-facebook fa-2x"></i>
						a(href="#", class="twLink") <i class="fa fa-twitter fa-2x"></i>
						a(href="#", class="diggLink") <i class="fa fa-digg fa-2x"></i>
					.articleMainConts
						p.allcaps Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.
						p Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.
						p Of the three, it will be the Aces who are faced with the daunting task of having to play two straight games in their bid to keep their hot streak going in the tournament.
						p The Aces tackle the Enforcers first at 8 p.m. (12 midnight Manila time) this Friday at the Al Wasl Stadium, then return to the same venue on the same time the next day to play the Gin Kings.
						.articleImgCarousel
							div
								img(src="http://lorempixel.com/670/445/")
							div
								img(src="http://lorempixel.com/670/445/")
			.rightPanel
				.sideAds
					+ads_300x250