include advertisement.jade
include ../modules/gallery.jade

.contBlock.light
	.b1366px
		.wrap.articlePage
			.leftPanel
				+ads-leaderboardLight
				.articleMainImg
					img(src="http://lorempixel.com/770/355/")
				.titleBox
					h2 Alaska takes on Barangay Ginebra and Mahindra in Dubai
				.views
					p.dateuploaded Uploaded on 3/15/2015 
					p.count 143,685 Views
				.articleTextWrap
					.socialFeeds
						a(href="#", class="fbLink") <i class="fa fa-facebook fa-2x"></i>
						a(href="#", class="twLink") <i class="fa fa-twitter fa-2x"></i>
						a(href="#", class="diggLink") <i class="fa fa-digg fa-2x"></i>
					.articleMainConts
						p.allcaps Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.
						p Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.
						p Of the three, it will be the Aces who are faced with the daunting task of having to play two straight games in their bid to keep their hot streak going in the tournament.
						p The Aces tackle the Enforcers first at 8 p.m. (12 midnight Manila time) this Friday at the Al Wasl Stadium, then return to the same venue on the same time the next day to play the Gin Kings.
						.articleImgCarousel
							div
								img(src="http://lorempixel.com/670/445/")
							div
								img(src="http://lorempixel.com/670/445/")
						p Both the Enforcers and the Gin Kings have dropped their first two outings in the kickoff conference, and that should be enough motivation for them to give their all against the Aces who are riding on the momentum of back-to-back victories they pulled off against Talk ‘N Text (114-98) and Blackwater (87-79).
						p The Enforcers lost to the Elasto Painters (108-94) last October 25, and Talk ‘N Text (101-97) last October 31, and on both occasions, they showed that they can no longer be taken for granted.
						.videoPlayer
							iframe(width="560", height="349", src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&hd=1", frameborder="0", allowfullscreen)
						p The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.
						p The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.
						blockquote "Nagpapasalamat tayo sa Alaska Aces sa pagpayag nilang maglaro ng back-to-back official games. Alam kong gagawin nila ito para sa ating mga kababayan sa UAE"
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						p The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.
						p The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.
						p The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.
						.socialIconsFeeds
							ul.shares
								li
									img(src="images/fbShareCountHolder.png")
								li
									img(src="images/twShareCountHolder.png")
							ul.links
								li
									a(href="#", class="fbLink") <i class="fa fa-facebook fa-2x"></i>
								li
									a(href="#", class="twLink") <i class="fa fa-twitter fa-2x"></i>
								li
									a(href="#", class="diggLink") <i class="fa fa-digg fa-2x"></i>
						.commentBox
							img(src="images/discusCommentBoxHolder.png")
				.relatedArticles
					.titleBox
						h2 Related Articles
					ul.miniBlock.by2s
						li
							+articles2
						li
							+articles2
						li
							+articles2
						li
							+articles2
			.rightPanel
				.sideAds
					+ads_300x250
				.relatedListArticle
					ul
						li
							.imgBlock
								img(src="http://lorempixel.com/90/60/")
							.titleWrap
								h2
									a(href="#") Slow starts and hard shots:
										span The Barangay Ginebra experience
									p.author by Chuck Araneta
						li
							.imgBlock
								img(src="http://lorempixel.com/90/60/")
							.titleWrap
								h2
									a(href="#") Slow starts and hard shots:
										span The Barangay Ginebra experience
									p.author by Chuck Araneta
						li
							.imgBlock
								img(src="http://lorempixel.com/90/60/")
							.titleWrap
								h2
									a(href="#") Slow starts and hard shots:
										span The Barangay Ginebra experience
									p.author by Chuck Araneta
						li
							.imgBlock
								img(src="http://lorempixel.com/90/60/")
							.titleWrap
								h2
									a(href="#") Slow starts and hard shots:
										span The Barangay Ginebra experience
									p.author by Chuck Araneta