include ../modules/gallery.jade
include ../layout/standingsTab.jade
include ../layout/ads-sizes.jade


.contBlock.dark
	.b1366px
		
		.leftPanel
			.titleBox
				h2 Basketball
				a(href="#", class="moreBtn") More
			.wrap
				+watchNow

				ul.miniBlock.by2s
					li
						+readMore
					li
						+readMore

		.rightPanel
			.titleBox
				h2 Standings
			.wrap
				+standings