include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.dark
	.b1366px
		h2.
			Basketball
			
		.wrap
			.leftPanel
				+watchNow

				ul.miniBlock.by2s
					li
						+readMore
					li
						+readMore
					
			.rightPanel
				.sideAds
					+ads_300x250