include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.dark
	.b1366px
		h2.
			Basketball
			
		.wrap
			+watchNow
						
			.sideAds
				+ads_300x250
				
			ul.mini2Block
				li
					+readMore
				li
					+readMore