mixin fullCarousel
	.fc-content
		.imgBlock
			.mobImg
				img(data-lazy="http://lorempixel.com/767/450/sports/2")
			.defImg
				img(data-lazy="http://lorempixel.com/1200/750/sports/2")
		.imgCaption
			.b1000px
				.tag
					a(href="#") fiba
				h1 Fiba Asia Game Preview
				p.
					Gilas Pilipinas out for No. 1 seeding in Group E battle with India
	.fc-content
		.imgBlock
			.mobImg
				img(data-lazy="http://lorempixel.com/767/450/sports/5")
			.defImg
				img(data-lazy="http://lorempixel.com/1200/750/sports/5")
		.imgCaption
			.b1000px
				.tag
					a(href="#") fiba
				h1 Fiba Asia Game Preview
				p.
					Gilas Pilipinas out for No. 1 seeding in Group E battle with India