.carouselScheduleBlock
	.b1366px
		h1.
			Schedule
		.carouselSchedule
			.csBox
				.block
					.dateBox
						span(class="month").
							Oct
						span(class="date").
							18
						span(class="day").
							Fri
					.league.single
						.game
							h2.
								PBA
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/2")
									p TnT
										span(class="win") 105
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/3")
									p BGK
										span.
											85
				.block
					.dateBox
						span(class="month").
							Oct
						span(class="date").
							12
						span(class="day").
							Sat
					.league.double
						.game
							h2.
								PSL
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/4")
									p CHS
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/5")
									p PBS
						.game
							h2.
								PBA
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/6")
									p STR
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/7")
									p BLT
				.block
					.dateBox
						span(class="month").
							Oct
						span(class="date").
							18
						span(class="day").
							Fri
					.league.single
						.game
							h2.
								PBA
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/2")
									p TnT
										span(class="win") 105
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/3")
									p BGK
										span.
											85
				.block
					.dateBox
						span(class="month").
							Oct
						span(class="date").
							12
						span(class="day").
							Sat
					.league.double
						.game
							h2.
								PSL
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/4")
									p CHS
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/5")
									p PBS
						.game
							h2.
								PBA
							ul
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/6")
									p STR
								li.vs
									p.
										vs
								li
									.logoBox
										img(src="http://lorempixel.com/50/35/7")
									p BLT