mixin fullCarousel
	.fc-content
		.imgBlock
			.imgloading.show
				<i class="fa fa-spinner fa-spin fa-2x"></i>
			img(src="images/bg.png", data-src="http://lorempixel.com/1000/450/sports/2")
			noscript.
				img(src="http://lorempixel.com/abstract/1440/450/")
		.imgCaption
			.b1000px
				.tag
					a(href="#") fiba
				h1 Fiba Asia Game Preview
				p.
					Gilas Pilipinas out for No. 1 seeding in Group E battle with India
	
	.fc-content
		.imgBlock
			.imgloading.show
				<i class="fa fa-spinner fa-spin fa-2x"></i>
			img(src="images/bg.png", data-src="http://lorempixel.com/1000/450/sports/5")
			noscript.
				img(src="http://lorempixel.com/abstract/1440/450/")
		.imgCaption
			.b1000px
				.tag
					a(href="#") fiba
				h1 Fiba Asia Game Preview
				p.
					Gilas Pilipinas out for No. 2 seeding in Group E battle with India