.carouselScheduleBlock
	.b1000px
		h1.
			Schedule
		.carouselSchedule
			.csBox
				.block
					.dateBox
						p(class="month").
							Oct
						p(class="date").
							18
						p(class="day").
							Fri
					.league
						.team
							p.
								hi pba
				.block
					.dateBox
					.league
						.team
							p.
								hi pba
					.league
						.team
							p.
								hi pba
				.block
					.dateBox
					.league
						.team
							p.
								hi pba
				.block
					.dateBox
					.league
						.team
							p.
								hi pba