include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.light
	.b1366px
		.titleBox
			h2 E-Sports
			a(href="#", class="moreBtn") More
			
		.wrap
			ul.miniBlock.by3s
				li
					+readMore
				li
					+readMore
				li
					+readMore