.footer
	.b1366px
		ul.ftrLinks
			li
				a(href="#") Privacy Policy
			li
				a(href="#") Terms of Use
			li
				a(href="#") About
			li
				a(href="#") Contact
				
		.copyright
			p.
				&copy; TV5 Network Inc. All rights reserved.