include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.dark
	.b1366px
		.titleBox
			h2 Football
			a(href="#", class="moreBtn") More
			
		.wrap
			ul.miniBlock.by3s
				li
					+miniWatch
				li
					+miniWatch
				li
					+miniWatch