//include doubleMenu.jade
include searchBlock.jade
include ads-sizes
+ads-leaderboard
.header
	.topbar
		.wrapper
			a(class='topnav mobile')
				i(class='fa fa-angle-double-down')

			ul.topmenu
				li: a(href='')
					img(src='/css/img/home.png')
				li: a(href='') live
					span.liveindicator
				li: a(href='') sports
				li: a(href='') news
				li: a(href='') entertainment
				li: a(class='more') more




			ul.access
				li: a(href='') SINGUP
				li: a(href='') LOG IN
	
	.mid-section
		.b1366px
			.logo
				img(src="images/main-logo.png")
			.triggers
				.burgermenu
					span
					//<i class="fa fa-navicon fa-2x"></i>
				.search
					<i class="fa fa-search fa-2x"></i>
			.mobilesearchbox
				input(type='search' class='mobilesearch' placeholder='Search')
			ul.nav
				li: a(href="index.html") Home
				li: a(href="livepage.html") Live
				li: a(href="category.html") Basketball
				li: a(href="#") Volleyball
				li: a(href="#") Football
				li: a(href="#") E-Sports
				li: a(href="shows.html") Shows
				li: a(href="upload.html") Upload
				
			.mobile-social
				a(class='m-social--facebook'): i(class='fa fa-facebook')
				a(class='m-social--twitter'): i(class='fa fa-twitter')
					
			.searchsocial
				.searchBlock
					+searchBlock
				
				ul.socials
					li
						a(href="#", class="fbLink") <i class="fa fa-facebook fa-lg"></i>
					li
						a(href="#", class="twLink") <i class="fa fa-twitter fa-lg"></i>