include doubleMenu.jade
include searchBlock.jade

.header
	.top-section
		.b1366px
			+doubleMenu
	
	.mid-section
		.b1366px
			.logo
				img(src="images/main-logo.png")
			.triggers
				.burger
					<i class="fa fa-navicon fa-2x"></i>
				.search
					<i class="fa fa-search fa-2x"></i>
			ul.nav
				li
					a(href="#", class="active") Home
				li
					a(href="#") Live
				li
					a(href="#") Basketball
				li
					a(href="#") Volleyball
				li
					a(href="#") Football
				li
					a(href="#") E-Sports
				li
					a(href="#") Shows
				li
					a(href="#") Upload
					
			.searchsocial
				.searchBlock
					+searchBlock
				
				ul.socials
					li
						a(href="#", class="fbLink") <i class="fa fa-facebook fa-lg"></i>
					li
						a(href="#", class="twLink") <i class="fa fa-twitter fa-lg"></i>