mixin searchBlock
	.inputBox
			input(type="text", placeholder="Search..")
		button.searchIcon
			<i class="fa fa-search fa-lg"></i>
			
mixin searchBlock2
	.inputBox
		input(type="text", placeholder="Search..")
		button.searchIcon
			<i class="fa fa-search fa-lg"></i>
		