include ../layout/ads-sizes.jade
include ../layout/advertisement.jade
include ../modules/gallery.jade

mixin showtab
	.contBlock.showContsWrap.dark
		.b1366px
			.titleBox
				h2 Upload
		.showsTab
			ul
				li
					a(href="#yhtube") YH Tube
				li
					a(href="#pbakalinga") PBA Kalinga
			.showConts#yhtube
				.scwrap
					.leftPanel2
						.holder
							img(src="images/vidHolder.png")
					.rightPanel2
						.scLinks.scActive
							.holder
								.scawrap
									.imgBlock
										img(src="http://lorempixel.com/270/150/")
									.socialIcons
										a(href="#", class="fbLink") <i class="fa fa-facebook fa-lg"></i>
										a(href="#", class="twLink") <i class="fa fa-twitter fa-lg"></i>
								.scaconts
									h2 Nth Degree
										span.
											episode 11
						.scLinks
							.holder
								img(src="http://lorempixel.com/170/90/")
						.scLinks
							.holder
								img(src="http://lorempixel.com/170/90/")
			.showConts#pbakalinga
				.scwrap
					.leftPanel2
						.holder
							img(src="images/vidHolder.png")
					.rightPanel2
						.scLinks.scActive
							.holder
								img(src="images/http://lorempixel.com/270/150/")
						.scLinks
							.holder
								img(src="images/http://lorempixel.com/170/90/")
						.scLinks
							.holder
								img(src="images/http://lorempixel.com/170/90/")

mixin episodes
	.contBlock.light
		.b1366px
			.titleBox
				h2 Episodes
				a(href="#", class="moreBtn") More

			.wrap
				ul.miniBlock.by3s
					li
						+miniWatch
					li
						+miniWatch
					li
						+miniWatch

mixin showscarousel
	.contBlock.dark
		.b1366px
			.titleBox
				h2 Shows
				a(href="#", class="moreBtn") More

			.wrap
				.showsBlock
					ul.miniBlockCarousel.carouselby4s
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
						li
							+showsConts
							
mixin showcontsblock
	.contBlock.dark
		.b1366px
			.showcontswrapper
				.leftPanel
					.titleBox
						h2 About the show
					.showcontsblock
						.imgBlock
							img(src="http://lorempixel.com/370/200/?3")
						.contsBlock
							p.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus leo, mollis a convallis eget, pellentesque non sem. Suspendisse pretium dolor est, sed luctus massa lacinia ornare. Curabitur nec maximus elit, et tempus nibh. Fusce venenatis eros ipsum, dictum convallis turpis eleifend in. Proin id diam quis orci sollicitudin porta. Quisque aliquam, mauris nec fermentum vestibulum, neque odio sollicitudin magna, et consectetur erat sapien vitae neque. Integer ac mattis sapien, et scelerisque turpis.

				.rightPanel
					.sideAds
						+ads_300x250