include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.dark
	.b1366px
		.titleBox
			h2 Shows
			a(href="#", class="moreBtn") More
			
		.wrap
			ul.miniBlockCarousel.carouselby4s
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts
				li
					+showsConts