include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.light
	.b1366px
		.wrap
			.leftPanel
				ul.miniBlock.by2s.feedBlocks
					li
						.fbFeed
							img(src="http://lorempixel.com/370/315/?3")
					li
						.twFeed
							img(src="http://lorempixel.com/370/315/?4")
					
			.rightPanel
				.sideAds
					+ads_300x250