include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.light
	.b1366px
		.wrap
			.leftPanel
				ul.miniBlock.by2s
					li
						+readMore
					li
						+readMore
					
			.rightPanel
				.sideAds
					+ads_300x250