include ../modules/gallery.jade
include ../layout/ads-sizes.jade

.contBlock.light
	.b1366px
		.wrap
			
			ul.socialFeeds
				li
					.content
						.fbFeed
							img(src="http://lorempixel.com/370/370/?3")
				li
					.content
						.twFeed
							img(src="http://lorempixel.com/370/370/?4")

				li
					.content
						.adsFeed
							.adbox 
								h1 AD
					
			//.rightPanel
				.sideAds
					+ads_300x250//