/* IMPORTED FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@font-face {
  font-family: 'oswald_bold';
  src: url("fonts/oswald-bold-webfont.eot");
  src: url("fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-bold-webfont.woff2") format("woff2"), url("fonts/oswald-bold-webfont.woff") format("woff"), url("fonts/oswald-bold-webfont.ttf") format("truetype"), url("fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_medium';
  src: url("fonts/oswald-medium-webfont.eot");
  src: url("fonts/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-medium-webfont.woff2") format("woff2"), url("fonts/oswald-medium-webfont.woff") format("woff"), url("fonts/oswald-medium-webfont.ttf") format("truetype"), url("fonts/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_regular';
  src: url("fonts/oswald-regular-webfont.eot");
  src: url("fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-regular-webfont.woff2") format("woff2"), url("fonts/oswald-regular-webfont.woff") format("woff"), url("fonts/oswald-regular-webfont.ttf") format("truetype"), url("fonts/oswald-regular-webfont.svg#oswald_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_light';
  src: url("fonts/oswald-light-webfont.eot");
  src: url("fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-light-webfont.woff2") format("woff2"), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.ttf") format("truetype"), url("fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_demibold';
  src: url("oswald-demibold-webfont.eot");
  src: url("oswald-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("oswald-demibold-webfont.woff2") format("woff2"), url("oswald-demibold-webfont.woff") format("woff"), url("oswald-demibold-webfont.ttf") format("truetype"), url("oswald-demibold-webfont.svg#oswalddemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "oswald_regular", Arial;
  font-size: 13px;
  background: #fff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline-width: 0;
  cursor: pointer; }

.b1000px {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  position: relative; }

.container {
  clear: both; }

.top-section {
  border-top: 1px #872836 solid;
  border-bottom: 1px #872836 solid;
  background: #e31837;
  height: 27px;
  font-family: "Lato", Arial;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .top-section {
      display: none; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .top-section {
      display: none; } }
  .top-section ul.topnav {
    position: relative;
    float: left; }
    .top-section ul.topnav li {
      float: left;
      position: relative; }
      .top-section ul.topnav li:before {
        content: "";
        display: block;
        background: #fff;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0; }
      .top-section ul.topnav li:last-of-type:before {
        display: none; }
      .top-section ul.topnav li a {
        color: #fff;
        padding: 0 12px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .top-section ul.topnav li a:hover {
          background: #872836; }
        .top-section ul.topnav li a.live i {
          color: #8dc63f; }
    .top-section ul.topnav .dropdown ul {
      position: absolute;
      background: #872836;
      width: 200px;
      height: 0;
      overflow: hidden;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-bottom: 1px #872836 solid;
      z-index: 1; }
      .top-section ul.topnav .dropdown ul li {
        border-top: 1px #872836 solid;
        float: none; }
        .top-section ul.topnav .dropdown ul li:before {
          display: none; }
        .top-section ul.topnav .dropdown ul li a {
          background: #912b3a;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .top-section ul.topnav .dropdown ul li a:hover {
            background: #e31837; }
      .top-section ul.topnav .dropdown ul:first-of-type {
        border: 0; }
    .top-section ul.topnav .dropdown:hover a, .top-section ul.topnav .dropdown.active a {
      background: #872836; }
    .top-section ul.topnav .dropdown:hover ul, .top-section ul.topnav .dropdown.active ul {
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .top-section ul.signlogs {
    float: right;
    background: #2f3837;
    padding: 0 15px; }
    .top-section ul.signlogs li {
      float: left;
      position: relative; }
      .top-section ul.signlogs li:before {
        content: "";
        display: block;
        background: #fff;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0; }
      .top-section ul.signlogs li:last-of-type:before {
        display: none; }
      .top-section ul.signlogs li a {
        color: #fff;
        padding: 0 10px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .top-section ul.signlogs li a:hover {
          color: #a4f2e9; }

.mid-section {
  background: #262626;
  float: left;
  width: 100%;
  height: 80px;
  border-bottom: 2px #e31837 solid;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .mid-section {
      border-top: 2px #e31837 solid; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mid-section {
      border-top: 2px #e31837 solid; } }
  .mid-section .logo {
    float: left;
    position: relative;
    height: 80px;
    width: 164px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section .logo {
        margin-left: 10px; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section .logo {
        margin-left: 10px; } }
    .mid-section .logo img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0; }
  .mid-section .triggers {
    position: absolute;
    color: #fff;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: 0;
    display: none; }
    .mid-section .triggers > div {
      position: relative;
      height: 80px;
      width: 25px;
      float: right;
      margin-right: 10px; }
      .mid-section .triggers > div.show, .mid-section .triggers > div:hover {
        color: #e31837; }
      .mid-section .triggers > div i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section .triggers {
        display: block; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section .triggers {
        display: block; } }
  .mid-section ul.nav {
    float: left;
    margin: 32px 0 0 15px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section ul.nav {
        display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section ul.nav {
        display: none; } }
    .mid-section ul.nav li {
      float: left;
      margin: 0 8px; }
      .mid-section ul.nav li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mid-section ul.nav li a:hover, .mid-section ul.nav li a.active {
          color: #e31837; }
  .mid-section .searchsocial {
    float: right;
    margin: 26px 0 0 0; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section .searchsocial {
        display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section .searchsocial {
        display: none; } }
    .mid-section .searchsocial .searchBlock {
      float: left;
      border-right: 1px #808080 solid; }
      .mid-section .searchsocial .searchBlock .inputBox {
        float: left;
        margin-right: 5px;
        background: #fff;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        width: 0;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mid-section .searchsocial .searchBlock .inputBox input[type=text] {
          float: right;
          line-height: 24px;
          font-family: "Lato", Arial;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: 0;
          padding-left: 12px;
          padding-right: 12px;
          background: transparent;
          box-sizing: border-box;
          width: 100%; }
      .mid-section .searchsocial .searchBlock .searchIcon {
        float: left;
        color: #fff;
        cursor: pointer;
        margin-right: 8px;
        line-height: 25px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0;
        font-size: 14px; }
        .mid-section .searchsocial .searchBlock .searchIcon:hover {
          color: #e31837; }
      .mid-section .searchsocial .searchBlock.open .searchIcon {
        color: #e31837;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mid-section .searchsocial .searchBlock.open .inputBox {
        width: 171px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .mid-section .searchsocial ul.socials {
      float: left; }
      .mid-section .searchsocial ul.socials li {
        float: left;
        margin: 0 2px; }
        .mid-section .searchsocial ul.socials li a {
          width: 25px;
          height: 25px;
          display: block;
          position: relative;
          color: #fff;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .mid-section .searchsocial ul.socials li a.fbLink {
            background: #537bbd;
            margin-left: 5px; }
            .mid-section .searchsocial ul.socials li a.fbLink:hover {
              background: #3d62a0; }
          .mid-section .searchsocial ul.socials li a.twLink {
            background: #78cdf0; }
            .mid-section .searchsocial ul.socials li a.twLink:hover {
              background: #4abceb; }
          .mid-section .searchsocial ul.socials li a i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%); }
  .mid-section .searchBox {
    height: 0;
    overflow: hidden;
    clear: both;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media only screen and (min-width: 1024px) {
      .mid-section .searchBox {
        display: none; } }
  .mid-section.show {
    height: auto;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .mid-section.show ul.nav.show {
      display: block;
      clear: both;
      margin: 0;
      width: 100%;
      border-top: 2px #e31837 solid;
      background: #262626; }
      .mid-section.show ul.nav.show li {
        float: none;
        border-bottom: 1px #1b1b1b solid;
        margin: 0;
        text-align: center; }
        .mid-section.show ul.nav.show li:last-of-type {
          border-bottom: 0; }
        .mid-section.show ul.nav.show li a {
          line-height: 35px;
          padding: 0 10px;
          color: #fff; }
          .mid-section.show ul.nav.show li a:hover {
            background: #1e1e1e;
            color: #fff; }
          .mid-section.show ul.nav.show li a.active {
            color: #e31837;
            background: #1e1e1e; }
    .mid-section.show .searchBox.show {
      height: 47px;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      position: relative;
      background: #e31837; }
      .mid-section.show .searchBox.show .inputBox {
        overflow: hidden;
        margin: 0 auto;
        background: #fff;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        padding-right: 30px;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%); }
        .mid-section.show .searchBox.show .inputBox input[type=text] {
          float: right;
          line-height: 24px;
          font-family: "Lato", Arial;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: 0;
          padding-left: 12px;
          padding-right: 12px;
          background: transparent;
          box-sizing: border-box;
          width: 100%; }
      .mid-section.show .searchBox.show .searchIcon {
        color: #e31837;
        cursor: pointer;
        margin-right: 8px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0;
        font-size: 14px;
        position: absolute;
        width: 25px;
        right: 0;
        height: 25px; }

.footer {
  clear: both;
  background: #000;
  overflow: hidden;
  text-transform: uppercase; }
  .footer ul.ftrLinks {
    float: left; }
    .footer ul.ftrLinks li {
      float: left;
      margin-right: 20px; }
      .footer ul.ftrLinks li a {
        line-height: 40px;
        color: #fff;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .footer ul.ftrLinks li a:hover {
          color: #e31837; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .footer ul.ftrLinks li {
          float: none;
          clear: both; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer ul.ftrLinks {
        float: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
      padding: 0 10px;
      box-sizing: border-box; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .footer {
      padding: 0 10px;
      box-sizing: border-box;
      text-align: center; } }
  .footer .copyright {
    float: right;
    color: #fff; }
    .footer .copyright p {
      line-height: 40px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer .copyright {
        float: none;
        clear: both; } }

/*# sourceMappingURL=maps/main.css.map */
