/* IMPORTED FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@font-face {
  font-family: 'oswald_bold';
  src: url("fonts/oswald-bold-webfont.eot");
  src: url("fonts/oswald-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-bold-webfont.woff2") format("woff2"), url("fonts/oswald-bold-webfont.woff") format("woff"), url("fonts/oswald-bold-webfont.ttf") format("truetype"), url("fonts/oswald-bold-webfont.svg#oswaldbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_medium';
  src: url("fonts/oswald-medium-webfont.eot");
  src: url("fonts/oswald-medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-medium-webfont.woff2") format("woff2"), url("fonts/oswald-medium-webfont.woff") format("woff"), url("fonts/oswald-medium-webfont.ttf") format("truetype"), url("fonts/oswald-medium-webfont.svg#oswaldmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_regular';
  src: url("fonts/oswald-regular-webfont.eot");
  src: url("fonts/oswald-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-regular-webfont.woff2") format("woff2"), url("fonts/oswald-regular-webfont.woff") format("woff"), url("fonts/oswald-regular-webfont.ttf") format("truetype"), url("fonts/oswald-regular-webfont.svg#oswald_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_light';
  src: url("fonts/oswald-light-webfont.eot");
  src: url("fonts/oswald-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/oswald-light-webfont.woff2") format("woff2"), url("fonts/oswald-light-webfont.woff") format("woff"), url("fonts/oswald-light-webfont.ttf") format("truetype"), url("fonts/oswald-light-webfont.svg#oswaldlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'oswald_demibold';
  src: url("oswald-demibold-webfont.eot");
  src: url("oswald-demibold-webfont.eot?#iefix") format("embedded-opentype"), url("oswald-demibold-webfont.woff2") format("woff2"), url("oswald-demibold-webfont.woff") format("woff"), url("oswald-demibold-webfont.ttf") format("truetype"), url("oswald-demibold-webfont.svg#oswalddemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: "oswald_regular", Arial;
  font-size: 13px;
  background: #fff; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  outline-width: 0;
  cursor: pointer; }

.b1366px {
  max-width: 1366px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 25px; }

.container {
  clear: both; }

.top-section {
  border-top: 1px #872836 solid;
  border-bottom: 1px #872836 solid;
  background: #e31837;
  max-height: 27px;
  font-family: "Lato", Arial;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 27px;
  float: left;
  width: 100%; }
  .top-section .b1366px {
    padding: 0; }
  .top-section .moreNav,
  .top-section .backHome,
  .top-section .moreNavContents {
    display: none; }
  .top-section ul.topnav {
    position: relative;
    float: left; }
    .top-section ul.topnav li {
      float: left;
      position: relative; }
      .top-section ul.topnav li:before {
        content: "";
        display: block;
        background: #fff;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
          -moz-transform--webkit-transform: translateY(-50%);
          -moz-transform--ms-transform: translateY(-50%);
          -moz-transform--o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0; }
      .top-section ul.topnav li:last-of-type:before {
        display: none; }
      .top-section ul.topnav li a {
        color: #fff;
        padding: 0 12px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .top-section ul.topnav li a:hover {
          background: #872836; }
        .top-section ul.topnav li a.live i {
          color: #8dc63f; }
    .top-section ul.topnav .dropdown ul {
      position: absolute;
      background: #872836;
      width: 200px;
      max-height: 0;
      overflow: hidden;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-bottom: 1px #872836 solid;
      z-index: 1; }
      .top-section ul.topnav .dropdown ul li {
        border-top: 1px #872836 solid;
        float: none; }
        .top-section ul.topnav .dropdown ul li:before {
          display: none; }
        .top-section ul.topnav .dropdown ul li a {
          background: #912b3a;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .top-section ul.topnav .dropdown ul li a:hover {
            background: #e31837; }
      .top-section ul.topnav .dropdown ul:first-of-type {
        border: 0; }
    .top-section ul.topnav .dropdown:hover a, .top-section ul.topnav .dropdown.active a {
      background: #872836; }
    .top-section ul.topnav .dropdown:hover ul, .top-section ul.topnav .dropdown.active ul {
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      max-height: 1000px; }
  .top-section ul.signlogs {
    float: right;
    background: #2f3837;
    padding: 0 15px; }
    .top-section ul.signlogs li {
      float: left;
      position: relative; }
      .top-section ul.signlogs li:before {
        content: "";
        display: block;
        background: #fff;
        width: 1px;
        height: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0; }
      .top-section ul.signlogs li:last-of-type:before {
        display: none; }
      .top-section ul.signlogs li a {
        color: #fff;
        padding: 0 10px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .top-section ul.signlogs li a:hover {
          color: #a4f2e9; }

.mid-section {
  background: #262626;
  float: left;
  width: 100%;
  max-height: 80px;
  border-bottom: 2px #e31837 solid;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .mid-section .triggers {
    display: none; }
  .mid-section .logo {
    float: left;
    position: relative;
    height: 80px;
    width: 164px; }
    .mid-section .logo img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0; }
  .mid-section ul.nav {
    float: left;
    margin: 32px 0 0 25px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section ul.nav {
        display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section ul.nav {
        display: none; } }
    .mid-section ul.nav li {
      float: left;
      margin: 0 10px; }
      .mid-section ul.nav li a {
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mid-section ul.nav li a:hover, .mid-section ul.nav li a.active {
          color: #e31837; }
  .mid-section .searchsocial {
    margin: 26px 0 0 0;
    position: absolute;
    right: 10px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .mid-section .searchsocial {
        display: none; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .mid-section .searchsocial {
        display: none; } }
    .mid-section .searchsocial .searchBlock {
      float: left;
      border-right: 1px #808080 solid; }
      .mid-section .searchsocial .searchBlock .inputBox {
        float: left;
        margin-right: 5px;
        background: #fff;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        overflow: hidden;
        width: 0;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .mid-section .searchsocial .searchBlock .inputBox input[type=text] {
          float: right;
          line-height: 24px;
          font-family: "Lato", Arial;
          font-size: 14px;
          font-weight: 400;
          outline: none;
          border: 0;
          padding-left: 12px;
          padding-right: 12px;
          background: transparent;
          box-sizing: border-box;
          width: 100%; }
      .mid-section .searchsocial .searchBlock .searchIcon {
        float: left;
        color: #fff;
        cursor: pointer;
        margin-right: 8px;
        line-height: 25px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0;
        font-size: 14px; }
        .mid-section .searchsocial .searchBlock .searchIcon:hover {
          color: #e31837; }
      .mid-section .searchsocial .searchBlock.open .searchIcon {
        color: #e31837;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mid-section .searchsocial .searchBlock.open .inputBox {
        width: 171px;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .mid-section .searchsocial ul.socials {
      float: left;
      margin-top: 1px; }
      .mid-section .searchsocial ul.socials li {
        float: left;
        margin: 0 2px; }
        .mid-section .searchsocial ul.socials li a {
          width: 25px;
          height: 25px;
          display: block;
          position: relative;
          color: #fff;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .mid-section .searchsocial ul.socials li a.fbLink {
            background: #537bbd;
            margin-left: 5px; }
            .mid-section .searchsocial ul.socials li a.fbLink:hover {
              background: #3d62a0; }
          .mid-section .searchsocial ul.socials li a.twLink {
            background: #78cdf0; }
            .mid-section .searchsocial ul.socials li a.twLink:hover {
              background: #4abceb; }
          .mid-section .searchsocial ul.socials li a i {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateY(-50%) translateX(-50%);
              -moz-transform--webkit-transform: translateY(-50%) translateX(-50%);
              -moz-transform--ms-transform: translateY(-50%) translateX(-50%);
              -moz-transform--o-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%); }

.footer {
  clear: both;
  background: #000;
  overflow: hidden;
  text-transform: uppercase; }
  .footer ul.ftrLinks {
    float: left; }
    .footer ul.ftrLinks li {
      float: left;
      margin-right: 20px; }
      .footer ul.ftrLinks li a {
        line-height: 40px;
        color: #fff;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .footer ul.ftrLinks li a:hover {
          color: #e31837; }
      @media only screen and (min-width: 0) and (max-width: 767px) {
        .footer ul.ftrLinks li {
          float: none;
          clear: both; } }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer ul.ftrLinks {
        float: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
      padding: 0 10px;
      box-sizing: border-box; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .footer {
      padding: 0 10px;
      box-sizing: border-box;
      text-align: center; } }
  .footer .copyright {
    float: right;
    color: #fff; }
    .footer .copyright p {
      line-height: 40px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .footer .copyright {
        float: none;
        clear: both; } }

.adsBlock {
  background: #363636;
  padding: 10px 0 15px;
  clear: both; }
  .adsBlock .placeholder {
    max-width: 728px;
    margin: 0 auto;
    width: 80%; }
    .adsBlock .placeholder img {
      width: 100%;
      height: auto;
      display: block; }

.fullCarouselBlock {
  background: #000;
  padding-bottom: 10px; }
  .fullCarouselBlock .fullCarousel {
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    height: auto; }
    .fullCarouselBlock .fullCarousel .fc-content {
      position: relative; }
      .fullCarouselBlock .fullCarousel .fc-content:hover .imgBlock img {
        -moz-transition: 8s;
        -webkit-transition: 8s;
        -ms-transition: 8s;
        -o-transition: 8s;
        transition: 8s;
        -moz-transform-style: ease-in-out;
        -webkit-transform-style: ease-in-out;
        -ms-transform-style: ease-in-out;
        -o-transform-style: ease-in-out;
        transform-style: ease-in-out;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2); }
      .fullCarouselBlock .fullCarousel .fc-content .imgBlock {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        position: relative;
        max-height: 450px; }
        .fullCarouselBlock .fullCarousel .fc-content .imgBlock:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 50%, black 94%);
          background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 50%, black 94%);
          background: -ms-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 50%, black 94%);
          background: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 50%, black 94%);
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 50%, black 94%);
          z-index: 1; }
        .fullCarouselBlock .fullCarousel .fc-content .imgBlock img {
          width: 100%;
          height: auto;
          opacity: 0;
          display: block;
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          -moz-transition: 8s;
          -webkit-transition: 8s;
          -ms-transition: 8s;
          -o-transition: 8s;
          transition: 8s; }
      .fullCarouselBlock .fullCarousel .fc-content .imgloading {
        opacity: 0;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateY(-50%) translateX(-50%);
          -moz-transform--webkit-transform: translateY(-50%) translateX(-50%);
          -moz-transform--ms-transform: translateY(-50%) translateX(-50%);
          -moz-transform--o-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        z-index: 2; }
        .fullCarouselBlock .fullCarousel .fc-content .imgloading i {
          color: #e31837; }
      .fullCarouselBlock .fullCarousel .fc-content .imgloading.show {
        opacity: 1; }
      .fullCarouselBlock .fullCarousel .fc-content .imgCaption {
        position: absolute;
        width: 100%;
        bottom: 20px;
        z-index: 2;
        color: #fff;
        text-transform: uppercase; }
        .fullCarouselBlock .fullCarousel .fc-content .imgCaption .tag {
          background: #e31837;
          float: left;
          margin-bottom: 15px; }
          .fullCarouselBlock .fullCarousel .fc-content .imgCaption .tag a {
            display: block;
            padding: 6px 8px 3px;
            color: #fff;
            font-family: "oswald_light", Arial;
            font-size: 16px;
            font-weight: normal; }
        .fullCarouselBlock .fullCarousel .fc-content .imgCaption h1 {
          clear: both;
          font-family: "oswald_bold", Arial;
          font-size: 48px;
          font-weight: normal;
          margin-bottom: 5px; }
        .fullCarouselBlock .fullCarousel .fc-content .imgCaption p {
          font-family: "oswald_light", Arial;
          font-size: 24px;
          font-weight: normal;
          max-width: 370px;
          line-height: 32px; }
    .fullCarouselBlock .fullCarousel .slick-dots {
      text-align: center; }
      .fullCarouselBlock .fullCarousel .slick-dots li {
        display: inline-block;
        background: #fff;
        width: 10px;
        height: 10px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .fullCarouselBlock .fullCarousel .slick-dots li:hover, .fullCarouselBlock .fullCarousel .slick-dots li.slick-active {
          background: #e31837;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        .fullCarouselBlock .fullCarousel .slick-dots li button {
          display: none; }
    .fullCarouselBlock .fullCarousel .slick-arrow {
      position: absolute;
      top: 50%;
      -moz-transform: translateY(-50%);
        -moz-transform--webkit-transform: translateY(-50%);
        -moz-transform--ms-transform: translateY(-50%);
        -moz-transform--o-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 2;
      cursor: pointer;
      color: #fff;
      opacity: .5;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .fullCarouselBlock .fullCarousel .slick-arrow:hover {
        opacity: 1;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .fullCarouselBlock .fullCarousel .slick-arrow.prevBtn {
        left: 5px; }
      .fullCarouselBlock .fullCarousel .slick-arrow.nextBtn {
        right: 5px; }

.carouselScheduleBlock {
  overflow: hidden;
  clear: both;
  background: #262626; }
  .carouselScheduleBlock h1 {
    width: 120px;
    float: left;
    color: #fff;
    font-size: 21px;
    line-height: 90px;
    text-transform: uppercase;
    text-align: center; }
  .carouselScheduleBlock .carouselSchedule {
    max-width: -moz-calc(100% - 120px);
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    float: left;
    height: 90px; }
    .carouselScheduleBlock .carouselSchedule .csBox {
      float: left;
      max-width: -moz-calc(100% - 60px);
      max-width: -webkit-calc(100% - 60px);
      max-width: calc(100% - 60px); }
      .carouselScheduleBlock .carouselSchedule .csBox .dateBox {
        width: 70px;
        float: left;
        text-align: center;
        position: relative;
        background: #e1e1e1;
        padding: 10px 0; }
        .carouselScheduleBlock .carouselSchedule .csBox .dateBox span {
          display: block;
          color: #363636;
          font-family: "oswald_light", Arial;
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          line-height: 18px;
          padding: 3px 0; }
          .carouselScheduleBlock .carouselSchedule .csBox .dateBox span.date {
            font-family: "oswald_regular", Arial;
            font-size: 21px;
            font-weight: normal; }
      .carouselScheduleBlock .carouselSchedule .csBox .league {
        float: left;
        background: #ebebeb;
        height: 89px;
        border-top: 1px #ebebeb solid; }
        .carouselScheduleBlock .carouselSchedule .csBox .league.single {
          width: 130px; }
          .carouselScheduleBlock .carouselSchedule .csBox .league.single > div {
            width: 100%; }
        .carouselScheduleBlock .carouselSchedule .csBox .league.double {
          width: 260px; }
          .carouselScheduleBlock .carouselSchedule .csBox .league.double > div {
            width: 50%;
            position: relative; }
            .carouselScheduleBlock .carouselSchedule .csBox .league.double > div:first-of-type:before {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              right: 0;
              height: 90px;
              width: 1px;
              background: #ebebeb; }
        .carouselScheduleBlock .carouselSchedule .csBox .league .game {
          float: left; }
          .carouselScheduleBlock .carouselSchedule .csBox .league .game h2 {
            background: #898989;
            padding: 5px;
            color: #fff; }
          .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li {
            width: 56px;
            float: left;
            text-align: center;
            padding: 5px 0 0;
            position: relative; }
            .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li .logoBox {
              width: 90%;
              height: 35px;
              overflow: hidden;
              margin: 0 auto; }
              .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li .logoBox img {
                width: 100%;
                height: auto;
                display: block; }
            .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li p {
              line-height: 23px;
              padding-top: 3px; }
              .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li p span {
                padding-left: 5px; }
                .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li p span.win {
                  color: #e31837; }
            .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li.vs {
              width: 18px; }
              .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li.vs p {
                line-height: 60px;
                text-transform: uppercase;
                padding: 0; }
  .carouselScheduleBlock .slick-arrow {
    z-index: 2;
    cursor: pointer;
    color: #fff;
    background: #d7d7d7;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 30px;
    height: 90px;
    position: relative; }
    .carouselScheduleBlock .slick-arrow i {
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translateY(-50%) translateX(-50%);
        -moz-transform--webkit-transform: translateY(-50%) translateX(-50%);
        -moz-transform--ms-transform: translateY(-50%) translateX(-50%);
        -moz-transform--o-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%); }
    .carouselScheduleBlock .slick-arrow:hover {
      opacity: .9;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .carouselScheduleBlock .slick-arrow.prevBtn {
      float: left; }
    .carouselScheduleBlock .slick-arrow.nextBtn {
      float: right; }

.contBlock {
  padding: 25px 0;
  float: left;
  width: 100%;
  position: relative; }
  .contBlock.light {
    background: #363636; }
  .contBlock.dark {
    background: #262626; }
  .contBlock .titleBox h2 {
    font-family: "oswald_regular", Arial;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2px 0 0;
    color: #fff;
    float: left; }
  .contBlock .titleBox a.moreBtn {
    color: #fff;
    background: #e31837;
    display: block;
    float: left;
    padding: 10px 20px 7px;
    text-transform: uppercase;
    margin-left: 10px;
    font-family: "oswald_regular", Arial;
    font-size: 14px;
    font-weight: normal;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .contBlock .titleBox a.moreBtn:hover {
      background: #fff;
      color: #e31837; }

@media only screen and (min-width: 1024px) {
  .mobImg {
    display: none; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobImg {
    display: block; } }

@media only screen and (min-width: 0) and (max-width: 767px) {
  .mobImg {
    display: block; } }

.wrap {
  padding: 25px 0 0;
  overflow: hidden;
  clear: both; }

.sideAds {
  float: none;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  background: #e1e1e1; }
  .sideAds img {
    border: 1px #808080 solid;
    width: 100%;
    height: auto; }

.leftPanel {
  float: left;
  max-width: -moz-calc(100% - 325px);
  max-width: -webkit-calc(100% - 325px);
  max-width: calc(100% - 325px);
  width: 100%; }

.rightPanel {
  float: right;
  max-width: 300px;
  width: 100%; }

.colBlock {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px; }
  .colBlock:hover .imgBlock img {
    -moz-transition: 8s;
    -webkit-transition: 8s;
    -ms-transition: 8s;
    -o-transition: 8s;
    transition: 8s;
    -moz-transform-style: ease-in-out;
    -webkit-transform-style: ease-in-out;
    -ms-transform-style: ease-in-out;
    -o-transform-style: ease-in-out;
    transform-style: ease-in-out;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .colBlock .imgBlock {
    overflow: hidden; }
    .colBlock .imgBlock img {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      width: 100%;
      -moz-transition: 8s;
      -webkit-transition: 8s;
      -ms-transition: 8s;
      -o-transition: 8s;
      transition: 8s;
      -moz-transform-style: ease-in-out;
      -webkit-transform-style: ease-in-out;
      -ms-transform-style: ease-in-out;
      -o-transform-style: ease-in-out;
      transform-style: ease-in-out; }
  .colBlock .captionBlock {
    background: url("../images/blackTransparent.png");
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    box-sizing: border-box; }
    .colBlock .captionBlock .texts {
      float: left;
      max-width: -moz-calc(100% - 180px);
      max-width: -webkit-calc(100% - 180px);
      max-width: calc(100% - 180px); }
      .colBlock .captionBlock .texts h3 {
        font-family: "oswald_regular", Arial;
        font-size: 30px;
        font-weight: normal;
        color: #fff;
        padding-bottom: 5px; }
      .colBlock .captionBlock .texts p {
        color: #fff;
        font-family: "oswald_regular", Arial;
        font-size: 18px;
        font-weight: normal; }
    .colBlock .captionBlock a {
      background: #e31837;
      color: #fff;
      display: block;
      float: right;
      padding: 20px;
      font-family: "oswald_regular", Arial;
      font-size: 18px;
      font-weight: normal;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      text-align: center; }
      .colBlock .captionBlock a:hover {
        background: #fff;
        color: #e31837; }

.miniBlock li {
  float: left;
  margin-right: 25px; }
  .miniBlock li:last-of-type {
    margin-right: 0; }
  .miniBlock li .captionBlock {
    background: #1b1b1b; }
    .miniBlock li .captionBlock .texts h3.minis {
      font-size: 18px;
      line-height: 21px;
      padding: 0; }
    .miniBlock li .captionBlock .readMoreLink {
      max-width: none;
      line-height: 40px;
      padding: 0 20px; }

.miniBlock.by2s li {
  width: 48%; }

.miniBlock.by3s li {
  width: 31.33%; }

.miniBlock.by4s li {
  width: 25%;
  margin-right: 0; }
  .miniBlock.by4s li .texts {
    float: none;
    max-width: none; }

.miniBlockCarousel li .imgBlock img {
  width: 100%;
  height: auto; }

.miniBlockCarousel li .captionBlock {
  padding: 15px;
  background: #363636;
  position: relative;
  bottom: auto; }
  .miniBlockCarousel li .captionBlock .texts {
    max-width: none;
    float: none;
    margin-bottom: 0; }
    .miniBlockCarousel li .captionBlock .texts h3.minis {
      font-size: 18px;
      line-height: 21px;
      padding: 0; }
      .miniBlockCarousel li .captionBlock .texts h3.minis.link a {
        float: none;
        background: none;
        padding: 0;
        text-align: left;
        line-height: 21px; }
        .miniBlockCarousel li .captionBlock .texts h3.minis.link a:hover {
          color: #fff;
          text-decoration: underline; }

.miniBlockCarousel li:nth-child(odd) .captionBlock {
  background: #58585a; }

.showsBlock .slick-arrow {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
    -moz-transform--webkit-transform: translateY(-50%);
    -moz-transform--ms-transform: translateY(-50%);
    -moz-transform--o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
  color: #fff;
  opacity: .8;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .showsBlock .slick-arrow:hover {
    opacity: 1;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .showsBlock .slick-arrow.prevBtn {
    left: 3px; }
  .showsBlock .slick-arrow.nextBtn {
    right: 3px; }

@media only screen and (max-width: 1023px) {
  .miniBlock.by2s li {
    width: 100%; }
  .miniBlock li {
    float: none;
    margin-right: 0; }
    .miniBlock li .imgBlock img {
      width: 100%;
      height: auto; } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .mobImg {
    display: block; } }

@media only screen and (max-width: 1023px) and (min-width: 768px) and (max-width: 1023px) {
  .mobImg {
    display: none; } }

@media only screen and (max-width: 1023px) and (min-width: 1024px) {
  .mobImg {
    display: none; } }

@media only screen and (max-width: 1023px) and (min-width: 768px) and (max-width: 1023px) {
  .defImg {
    display: block; } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .defImg {
    display: none; } }

@media only screen and (max-width: 1023px) and (min-width: 1024px) {
  .defImg {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .top-section {
    background: #e31837;
    border-bottom: 0;
    max-height: 1000px; }
    .top-section ul.topnav {
      display: none; }
    .top-section .moreNav {
      display: block;
      padding: 0 10px;
      border-right: 1px #872836 solid;
      float: left;
      color: #fff;
      cursor: pointer; }
      .top-section .moreNav:hover, .top-section .moreNav:focus, .top-section .moreNav.show {
        background: #2f3837; }
    .top-section .backHome {
      display: block;
      padding: 0 10px;
      border-right: 1px #872836 solid;
      float: left;
      color: #fff;
      cursor: pointer; }
      .top-section .backHome:hover, .top-section .backHome:focus, .top-section .backHome.show {
        background: #2f3837; }
    .top-section .moreNavContents {
      max-height: 0;
      overflow: hidden;
      display: block;
      clear: both;
      border-top: 1px #872836 solid;
      border-bottom: 1px #872836 solid;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .top-section .moreNavContents.show {
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        max-height: 1000px; }
      .top-section .moreNavContents li {
        border-bottom: 1px #28302f solid; }
        .top-section .moreNavContents li:last-of-type {
          border-bottom: 0; }
        .top-section .moreNavContents li a {
          color: #fff;
          padding: 0 10px;
          background: #2f3837;
          display: block; }
          .top-section .moreNavContents li a span {
            float: right;
            -moz-transition: 0.3s;
            -webkit-transition: 0.3s;
            -ms-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
          .top-section .moreNavContents li a.live i {
            color: #8dc63f; }
          .top-section .moreNavContents li a:hover {
            background: #28302f; }
        .top-section .moreNavContents li.more ul {
          max-height: 0;
          overflow: hidden;
          border-top: 1px #28302f solid;
          -moz-transition: 0.3s;
          -webkit-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .top-section .moreNavContents li.more ul li a {
            color: #fff;
            padding: 0 10px 0 20px; }
        .top-section .moreNavContents li.more.show ul {
          max-height: 1000px; }
        .top-section .moreNavContents li.more.show a span {
          -moz-transform: rotateX(180deg);
          -webkit-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg); }
  .mid-section .b1366px {
    padding: 0; }
  .mid-section.show {
    max-height: 1336px; }
  .mid-section .logo {
    margin-left: 10px; }
  .mid-section .triggers {
    display: block;
    position: absolute;
    color: #fff;
    cursor: pointer;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: 0; }
    .mid-section .triggers > div {
      position: relative;
      height: 80px;
      width: 25px;
      float: right;
      margin-right: 10px; }
      .mid-section .triggers > div.show, .mid-section .triggers > div:hover {
        color: #e31837;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .mid-section .triggers > div i {
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
          -moz-transform--webkit-transform: translateY(-50%);
          -moz-transform--ms-transform: translateY(-50%);
          -moz-transform--o-transform: translateY(-50%);
        transform: translateY(-50%); } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .footer ul.ftrLinks li {
    float: none;
    clear: both; } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .footer ul.ftrLinks {
    float: none; } }

@media only screen and (max-width: 1023px) and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    box-sizing: border-box; } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .footer {
    box-sizing: border-box;
    text-align: center; } }

@media only screen and (max-width: 1023px) {
  .footer .copyright p {
    line-height: 40px; } }

@media only screen and (max-width: 1023px) and (min-width: 0) and (max-width: 767px) {
  .footer .copyright {
    float: none;
    clear: both; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mid-section ul.nav {
    overflow: hidden;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    margin: 0;
    float: none;
    clear: both;
    max-height: 0; }
    .mid-section ul.nav li {
      float: none;
      border-bottom: 1px #262626 solid;
      margin: 0; }
      .mid-section ul.nav li:first-of-type {
        border-top: 1px #262626 solid; }
      .mid-section ul.nav li a {
        line-height: 30px;
        display: block;
        padding: 5px 10px 0;
        background: #1e1e1e; }
        .mid-section ul.nav li a.active, .mid-section ul.nav li a:focus {
          background: #e31837;
          color: #fff; }
    .mid-section ul.nav.show {
      margin: 0;
      clear: both;
      width: 100%;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      max-height: 1000px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption .b1366px {
    padding: 0 40px; }
  .colBlock .imgBlock {
    max-height: 303px;
    height: auto; }
    .colBlock .imgBlock img {
      width: auto;
      height: 100%; }
  .colBlock .captionBlock {
    padding: 15px; }
    .colBlock .captionBlock .texts h3 {
      font-size: 21px;
      line-height: 24px; }
    .colBlock .captionBlock .texts p {
      font-size: 14px; }
  .miniBlock.by3s li {
    float: left;
    width: 31%;
    margin-right: 25px; }
    .miniBlock.by3s li:last-of-type {
      margin-right: 0; }
    .miniBlock.by3s li .captionBlock {
      padding: 15px;
      position: relative;
      bottom: auto;
      overflow: hidden; }
      .miniBlock.by3s li .captionBlock .texts {
        float: none;
        max-width: none;
        margin-bottom: 15px; }
        .miniBlock.by3s li .captionBlock .texts h3 {
          font-size: 21px;
          line-height: 24px; }
        .miniBlock.by3s li .captionBlock .texts p {
          font-size: 14px; }
      .miniBlock.by3s li .captionBlock a {
        float: none;
        padding: 0 15px;
        line-height: 40px; } }

@media only screen and (min-width: 0) and (max-width: 767px) {
  .mid-section ul.nav {
    max-height: 0;
    overflow: hidden;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    margin: 0;
    float: none;
    clear: both; }
    .mid-section ul.nav li {
      float: none;
      border-bottom: 1px #262626 solid;
      margin: 0; }
      .mid-section ul.nav li:first-of-type {
        border-top: 1px #262626 solid; }
      .mid-section ul.nav li a {
        line-height: 30px;
        display: block;
        padding: 5px 10px 0;
        background: #1e1e1e; }
        .mid-section ul.nav li a.active, .mid-section ul.nav li a:focus {
          background: #e31837;
          color: #fff; }
    .mid-section ul.nav.show {
      margin: 0;
      clear: both;
      width: 100%;
      -moz-transition: 0.3s;
      -webkit-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      max-height: 1000px; }
  .footer ul.ftrLinks li {
    margin-right: 0; }
  .carouselScheduleBlock h1 {
    float: none;
    width: 100%;
    line-height: 45px; }
  .carouselScheduleBlock .carouselSchedule {
    max-width: 100%; }
    .carouselScheduleBlock .carouselSchedule .csBox .dateBox {
      width: 50px; }
    .carouselScheduleBlock .carouselSchedule .csBox .league.single {
      width: 105px; }
    .carouselScheduleBlock .carouselSchedule .csBox .league.double {
      width: 210px; }
    .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li {
      width: 43px; }
      .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li .logoBox {
        width: 80%;
        height: 25px; }
        .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li .logoBox img {
          width: 100%;
          height: auto; }
      .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li p {
        line-height: 16px;
        padding-top: 3px; }
        .carouselScheduleBlock .carouselSchedule .csBox .league .game ul li p span {
          padding-left: 0;
          display: block; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption .b1000px {
    padding: 0 30px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption .tag a {
    font-size: 12px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption h1 {
    font-size: 21px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption p {
    font-size: 14px;
    line-height: 21px; } }

@media only screen and (min-width: 0) and (max-width: 767px) and (min-width: 601px) and (max-width: 767px) {
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption .tag a {
    font-size: 14px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption h1 {
    font-size: 28px; }
  .fullCarouselBlock .fullCarousel .fc-content .imgCaption p {
    font-size: 16px; } }

@media only screen and (min-width: 0) and (max-width: 767px) {
  .contBlock .titleBox h2 {
    font-size: 24px; }
  .contBlock .titleBox a.moreBtn {
    font-size: 11px;
    padding: 3px 10px 0;
    line-height: 18px; }
  .contBlock .wrap .sideAds {
    float: none; }
    .contBlock .wrap .sideAds img {
      border: 1px #808080 solid;
      width: 100%;
      height: auto; }
  .leftPanel {
    float: none;
    margin-bottom: 15px;
    max-width: none; }
  .rightPanel {
    float: none;
    margin-bottom: 15px;
    max-width: none; }
  .colBlock {
    float: none;
    max-width: none; }
    .colBlock .imgBlock {
      max-height: 250px;
      height: auto; }
      .colBlock .imgBlock img {
        width: auto;
        height: 100%; }
    .colBlock .captionBlock {
      padding: 15px 0;
      position: relative;
      bottom: auto;
      overflow: hidden; }
      .colBlock .captionBlock .texts {
        float: none;
        max-width: none;
        margin-bottom: 15px; }
        .colBlock .captionBlock .texts h3 {
          font-size: 21px;
          line-height: 24px; }
        .colBlock .captionBlock .texts p {
          font-size: 14px; }
      .colBlock .captionBlock a {
        float: none;
        padding: 0 15px;
        line-height: 40px; }
  .miniBlock.by3s li {
    float: none;
    width: 100%;
    margin-right: 0; }
    .miniBlock.by3s li .captionBlock {
      padding: 15px; } }

/*# sourceMappingURL=main.css.map */
