doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet' href='css/main.css').
		
		
	body
		include layout/header.jade
		
		.container
			.b1000px
				p.
					Lorem Ipsum
		
		include layout/footer.jade
		
		
		script(type='text/javascript' src='js/vendor/jquery.min.js').
		script(type='text/javascript' src='js/all.js').
		