doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet' href='css/main.css').
		
		
	body
		include layout/header.jade
		
		.b1000px
			.container
				p.
					Lorem Ipsum
		.footer
		
		script(type='text/javascript' src='js/vendor/jquery.min.js').
		script(type='text/javascript' src='js/all.js').
		