doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet' href='css/main.css').
		
	body
		.header
			h1 Header
		.container
		.footer
		
		script(type='text/javascript' src='js/all.js').