doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel='stylesheet' href='css/main.css').
		link(rel='stylesheet' href='css/slick.css').
		
	body
		include layout/header
		include layout/gridWithAds
		+latestepisodes
		+lightAds
		+allshows
		include layout/footer
		
		script(type='text/javascript' src='js/vendor/jquery.min.js').
		script(type='text/javascript' src='js/vendor/jquery.unveil.js').
		script(type='text/javascript' src='js/vendor/slick.min.js').
		script(type='text/javascript' src='js/vendor/jquery-ui.js').
		script(type='text/javascript' src='js/all.js').
		
		