.adsBlock
	padding: 10px 0 15px
	clear: both
	&.light
		background: $adsGray
	&.dark
		background: $darkGray

	.placeholder
		max-width: 728px
		margin: 0 auto
		width: 80%

		img
			width: 100%
			height: auto
			display: block;


.ads-wide
	clear: both
	height: 110px
	padding: 10px 0
	display: block
	+borderbox
	+formobile
		padding: 10px 0
		width: 100%
		height: 70px
	&.dark
		background: $darkGray
	&.light
		background: $adsGray

.ads-box
	width: 728px
	height: 90px
	margin: 0 auto

	+formobile
		width: 100%
		max-width: 320px
		height: 50px

	&:after
		content: 'LEADERBOARD'
		display: block
		width: 100%
		height: 90px
		line-height: 90px
		text-align: center
		color: $darkGrayDarken
		border: 1px $darkGrayDarken solid
		+formobile
			height: 50px
			line-height: 50px