.articlePage
	.articleMainImg
		padding: 15px 0
		img
			width: 100%
			height: auto
	.titleBox
		overflow: hidden
		h2
			font-size: 48px
			line-height: 54px
			+fortablet
				font-size: 30px
				line-height: 40px
			+formobile
				font-size: 24px
				line-height: 30px
	.views
		overflow: hidden
		clear: both
		font-size: 18px
		text-transform: uppercase
		color: $white
		.dateuploaded
			float: left
			text-align: left
			width: 50%
			padding: 10px 0
			+forresponsive()
				float: none
				width: 100%
				text-align: left
				padding: 10px 0
			+formobile
				font-size: 14px
		.count
			float: right
			text-align: right
			width: 50%
			padding: 10px 0
			+forresponsive()
				float: none
				width: 100%
				text-align: left
				padding: 0 0 10px
			+formobile
				font-size: 16px
	.articleTextWrap
		background: $white
		color: $blakish
		overflow: hidden
		.articleMainConts
			+calc(max-width, '100% - 100px')
			padding: 15px
			width: 100%
			height: auto
			overflow: hidden
			box-sizing: border-box
			+fortablet
				+calc(max-width, '100% - 50px') 
			+formobile
				float: none
				width: 100%
				max-width: none
			p
				+font($lato, 16px, 400)
				line-height: 21px
				padding-bottom: 15px
				display: block
				
				&.allcaps
					text-transform: uppercase
					+font($lato, 18px, 700)
		.socialFeeds
			width: 100px
			float: left
			text-align: center
			+fortablet
				width: auto
			+formobile
				float: none
				width: 100%
			a
				display: block
				width: 50px
				height: 50px
				position: relative
				color: $white
				margin: 0 auto 3px
				+formobile()
					float: none
					display: inline-block
					margin: 0 3px
				
				&.fbLink
					background: $fbBlue
					&:hover
						background: $fbBlueDarken
				&.twLink
					background: $twBlue
					&:hover
						background: $twBlueDarken
				&.diggLink
					background: $blakish
					&:hover
						background: $lightGray
				i
					+centerAll()
		.articleImgCarousel
			position: relative
			margin-bottom: 15px
			.slick-arrow
				position: absolute
				height: 100%
				width: 40px
				display: block
				border: 0
				top: 0
				z-index: 1
				background: url('../images/blackTransparent.png')
				color: $white
				cursor: pointer
				&:hover
					color: $red
				&.prevBtn
					left: 0
				&.nextBtn
					right: 0
				i
					+centerAll()
		.videoPlayer
			position: relative
			padding-bottom: 56.25%
			padding-top: 25px
			height: 0
			margin-bottom: 15px
			iframe
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
		blockquote
			margin: 15px
			+font($lato, 30px, 300)
			color: $red
			line-height: 42px
			width: 40%
			float: right
			+forresponsive()
				float: none
				width: 100%
				font-size: 21px
				margin: 0
				line-height: 28px
				margin-bottom: 15px
		.socialIconsFeeds
			padding: 35px 0
			width: 100%
			margin: 0 auto
			float: none
			overflow: hidden
			.shares
				float: left
				+formobile()
					float: none
					clear: both
					overflow: hidden
					margin-bottom: 10px
				li
					float: left
					margin: 10px 10px 0 0
					&:last-of-type
						margin-right: 0
			.links
				float: right
				margin-bottom: 35px
				overflow: hidden
				+formobile()
					float: none
					clear: both
				li
					float: left
					margin-right: 10px
					&:last-of-type
						margin-right: 0
					a
						display: block
						width: 50px
						height: 50px
						position: relative
						color: $white
						+transitionspeed(.3s)
						&.fbLink
							background: $fbBlue
							&:hover
								background: $fbBlueDarken
						&.twLink
							background: $twBlue
							&:hover
								background: $twBlueDarken
						&.diggLink
							background: $blakish
							&:hover
								background: $lightGray
						i
							+centerAll()
		.commentBox
			img
				width: 100%
				height: auto
	.relatedArticles
		padding: 25px 0
		h2
			margin-bottom: 15px
		ul.by2s
			li	
				&:nth-child(3n+3)
					margin-right: 25px
				&:nth-child(even)
					margin-right: 0
	
.relatedListArticle
	padding: 35px 0
	ul
		width: 100%
		li
			overflow: hidden
			background: $white
			padding: 10px
			box-sizing: border-box
			margin-bottom: 10px
			.imgBlock
				float: left
				margin-right: 10px
			.titleWrap
				h2
					a
						color: $blakish
						font-size: 18px
						line-height: 24px
					span
						display: block
				p
					font-size: 12px
					color: $blakish