.footer
	clear: both
	background: $black
	overflow: hidden
	text-transform: uppercase

	ul.ftrLinks
		float: left

		li
			float: left
			margin-right: 20px

			a
				line-height: 40px
				color: $white
				+transitionspeed(.3s)
		
				&:hover
					color: $red
	
			+formobile
				float: none
				clear: both

		+formobile
			float: none

	+fortablet
		padding: 0 10px
		box-sizing: border-box

	+formobile
		padding: 0 10px
		box-sizing: border-box
		text-align: center

	.copyright
		float: right
		color: $white
		
		p
			line-height: 40px

		+formobile
			float: none
			clear: both