.contBlock
	padding: 25px 0
	float: left
	width: 100%
	position: relative
	&.light
		background: $lightGray
	&.dark
		background: $darkGray
	
	.titleBox
		h2
			+font($default, 36px, normal)
			text-transform: uppercase
			padding: 2px 0 0
			color: $white
			float: left
		a
			&.moreBtn
				color: $white
				background: $red
				display: block
				float: left
				padding: 10px 20px 7px
				text-transform: uppercase
				margin-left: 10px
				+font($default, 14px, normal)
				+transitionspeed(.3s)
				&:hover
					background: $white
					color: $red

.mobImg
	+showTabMob()

.wrap
	padding: 25px 0 0
	overflow: hidden
	clear: both

.sideAds
	float: none
	width: 100%
	background: $white1
	position: relative
	height: 315px
	overflow: hidden
	img
		+centerAll()
		

.leftPanel
	float: left
	+calcu(max-width,'100% - 400px')
	width: 100%

.rightPanel
	float: right
	max-width: 375px
	width: 100%
	
.colBlock
	width: 100%
	overflow: hidden
	position: relative
	margin-bottom: 25px

	&:hover
		.imgBlock
			img
				+transitionspeed(8s)
				+transformstyle(ease-in-out)
				+scale(1.2)

	.imgBlock
		overflow: hidden
		img
			+scale(1.1)
			width: 100%
			+transitionspeed(8s)
			+transformstyle(ease-in-out)

	.captionBlock
		background: url('../images/blackTransparent.png');
		padding: 15px
		position: absolute
		bottom: 0
		width: 100%
		text-transform: uppercase
		box-sizing: border-box
		.texts
			float: left
			+calcu(max-width,'100% - 180px')
			h3
				+font($default, 30px, normal)
				color: $white
				padding-bottom: 5px
			p
				color: $white
				+font($default, 18px, normal)
		a
			background: $red
			color: $white
			display: block
			float: right
			padding: 20px
			+font($default, 18px, normal)
			+transitionspeed(.3s)
			text-align: center
			&:hover
				background: $white
				color: $red
.miniBlock
	li
		float: left
		margin-right: 25px

		&:last-of-type
			margin-right: 0
		.captionBlock
			background: $blakish
			overflow: hidden
			.texts
				+calc(max-width, '100% - 130px');
				+centerVert()
				h3.minis
					font-size: 18px
					line-height: 21px
					padding: 0
			.readMoreLink
				max-width: none
				line-height: 40px
				padding: 3px 10px
				font-size: 14px
			.watchNowMiniLink
				line-height: 40px
				padding: 3px 10px
				font-size: 14px
	&.by2s
		li
			width: 47.87%

			+fordesktopW
				width: 48.37%
	&.by3s
		li
			width: 31.33%

			+fordesktopW
				width: 31.9%
	&.by4s
		li
			width: 25%
			margin-right: 0
			.texts
				float: none
				max-width: none
	
.miniBlockCarousel
	li
		.imgBlock
			img
				width: 100%
				height: auto
		.captionBlock
			padding: 15px
			background: $lightGray
			
			.texts
				max-width: none
				float: none
				margin-bottom: 0
				h3
					&.minis
						font-size: 18px
						line-height: 21px
						padding: 0
						&.link
							a
								float: none
								background: none
								padding: 0
								text-align: left
								line-height: 30px
								&:hover
									color: $white
									text-decoration: underline
		&:nth-child(odd)
			.captionBlock
				background: $white3
.showsBlock
	.slick-arrow
		+centerVert()
		z-index: 2
		cursor: pointer
		color: $white
		opacity: .8
		+transitionspeed(.3s)

		&:hover
			opacity: 1
			+transitionspeed(.3s)

		&.prevBtn
			left: 3px
			+fordesktopW()
				left: -15px

		&.nextBtn
			right: 3px
			+fordesktopW()
				right: -15px

.feedBlocks
	.fbFeed,
	.twFeed
		position: relative
		margin-bottom: 25px
		&:before
			background: $blakish
			content: 'Social Feeds Container'
			display: block
			color: $white
			width: 100%
			height: 100%
			z-index: 1
			position: absolute
			border: 1px $blakish solid
		img
			width: 100%
			height: auto