.gridwithad
	clear: both
	ul	
		margin: 0 0 15px 0
		+formobile()
			margin: 0
		li
			width: 31%
			box-sizing: border-box
			margin-right: 2%
			display: inline-block
			vertical-align: text-top
			.captionBlock
				background: $blakish
				overflow: hidden
				min-height: 76px
				.texts
					+calc(max-width, '100% - 130px');
					+centerVert()
					h3.minis
						font-size: 18px
						line-height: 21px
						padding: 0
					p.minisub
						font-size: 14px
						padding-top: 5px
					+formobile()
						position: relative
						transform: none
						max-width: none
						margin-bottom: 15px !important
				.readMoreLink
					max-width: none
					line-height: 40px
					padding: 3px 10px
					font-size: 14px
				.watchNowMiniLink
					line-height: 40px
					padding: 3px 10px
					font-size: 14px

			+fortablet()
				width: 48.8%
				&:nth-child(odd)
					margin-right: 0

			+formobile()
				width: 100%
				margin: 0
			&.big
				+calc(width, '100% - 35.8%')
				.captionBlock
					background: url('../images/blackTransparent.png')
				+fortablet()
					width: 100%
					margin: 0
				+formobile()
					width: 100%
					margin: 0
				

			&.adsWrap
				float: none
				min-width: 300px
				position: relative
				height: auto
				overflow: hidden
				text-align: center
				img
					position: relative
					margin: 7.7% auto
	
					+fordesktopSmall()
						margin: 2% auto
					+fortablet()
						margin: 7% auto