.top-section 
	border-top: 1px $maroon solid
	border-bottom: 1px $maroon solid
	background: $red
	max-height: 27px
	+font($lato,12px,400)
	text-transform: uppercase
	line-height: 27px
	float: left
	width: 100%

	.b1366px
		padding: 0

	.moreNav,
	.backHome,
	.moreNavContents
		display: none

	ul.topnav
		position: relative
		float: left

		li
			float: left
			position: relative

			&:before
				content: ""
				display: block
				background: $white
				width:	1px
				height: 10px
				+centerVert
				right: 0
			
			&:last-of-type
				&:before
					display: none
	
			a
				color: $white
				padding: 0 12px
				display: block
				+transitionspeed(.3s)
				
				&:hover
					background: $maroon
				
				&.live
					i
						color: $liveGreen
	
		.dropdown
			ul
				position: absolute
				background: $maroon
				width: 200px
				max-height: 0
				overflow: hidden
				+transitionspeed(.3s)
				border-bottom: 1px $maroon solid
				z-index: 1
		
				li
					border-top: 1px $maroon solid
					float: none
			
					&:before
						display: none
				
					a
						background: $lighterMaroon
						+transitionspeed(.3s)
		
						&:hover
							background: $red
	
				&:first-of-type
					border: 0
		
			&:hover,
			&.active
				a
					background: $maroon
				ul
					+transitionspeed(.3s)
					max-height: 1000px
	
	ul.signlogs
		float: right
		background: $darkAqua
		padding: 0 15px

		li
			float: left
			position: relative

			&:before
				content: ""
				display: block
				background: $white
				width:	1px
				height: 10px
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 0
	
			&:last-of-type
				&:before
					display: none
			
			a
				color: $white
				padding: 0 10px
				display: block
				+transitionspeed(.3s)
		
				&:hover
					color: $lightAqua

.mid-section
	background: $darkGray
	float: left
	width: 100%
	max-height: 80px
	border-bottom: 2px $red solid
	+transitionspeed(.3s)
	.triggers
		display: none
	.logo
		float: left
		position: relative
		height: 80px
		width: 164px
		
		img
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0

	ul.nav
		float: left
		margin: 32px 0 0 25px
		+hideTabMob()
	
		li
			float: left
			margin: 0 10px

			a
				color: $white
				text-transform: uppercase
				font-size: 16px
				display: block
				+transitionspeed(.3s)
			
				&:hover,
				&.active
					color: $red	
		
	.searchsocial
		margin: 26px 0 0 0
		position: absolute
		right: 10px;
		+hideTabMob()

		.searchBlock
			float: left
			border-right: 1px $lighterGray solid

			.inputBox
				float: left
				margin-right: 5px
				background: $white
				+bradius(15px)
				overflow: hidden
				width: 0
				+transitionspeed(.3s)
			
				input[type=text]
					float: right
					line-height: 24px
					+font($lato,14px,400)
					outline: none
					border: 0
					padding-left: 12px
					padding-right: 12px
					background: transparent
					box-sizing: border-box
					width: 100%
	
			.searchIcon
				float: left
				color: $white
				cursor: pointer
				margin-right: 8px
				line-height: 25px
				+transitionspeed(.3s)
				border: 0
				background: transparent
				outline: none
				padding: 0
				font-size: 14px
	
				&:hover 
					color: $red
	
			&.open
				.searchIcon
					color: $red
					+transitionspeed(.3s)
	
				.inputBox
					width: 171px
					+transitionspeed(.3s)
				

		ul.socials
			float: left
			margin-top: 1px
			li
				float: left
				margin: 0 2px
				a
					width: 25px
					height: 25px
					display: block
					position: relative
					color: $white
					+bradius(50%)
					+transitionspeed(.3s)
	
					&.fbLink
						background: $fbBlue
						margin-left: 5px
						
						&:hover
							background: $fbBlueDarken
	
					&.twLink
						background: $twBlue
						
						&:hover
							background: $twBlueDarken
					i
						+centerAll()