.top-section 
	border-top: 1px $maroon solid
	border-bottom: 1px $maroon solid
	background: $red
	height: 27px
	+font($lato,12px,400)
	text-transform: uppercase
	line-height: 27px

	ul.topnav
		position: relative
		float: left

		li
			float: left
			position: relative

			&:before
				content: ""
				display: block
				background: $white
				width:	1px
				height: 10px
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 0
			
			&:last-of-type
				&:before
					display: none
	
			a
				color: $white
				padding: 0 12px
				display: block
				transition: .5s
				
				&:hover
					background: $maroon
					transition: .5s
				
				&.live
					i
						color: $liveGreen
	
		.dropdown
			ul
				position: absolute
				background: $maroon
				width: 200px
				height: 0
				overflow: hidden
				transition: .5s
				border-bottom: 1px $maroon solid
		
				li
					border-top: 1px $maroon solid
					float: none
			
					&:before
						display: none
				
					a
						background: $lighterMaroon
						transition: .5s
		
						&:hover
							background: $red
	
				&:first-of-type
					border: 0
		
			&:hover,
			&.active
				a
					background: $maroon
				ul
					transition: .5s
	
	ul.signlogs
		float: right
		background: $darkAqua
		padding: 0 15px

		li
			float: left
			position: relative

			&:before
				content: ""
				display: block
				background: $white
				width:	1px
				height: 10px
				position: absolute
				top: 50%
				transform: translateY(-50%)
				right: 0
	
			&:last-of-type
				&:before
					display: none
			
			a
				color: $white
				padding: 0 10px
				display: block
				transition: .5s
		
				&:hover
					color: $lightAqua

.mid-section
	background: $darkGray
	float: left
	width: 100%
	height: 80px
	border-bottom: 2px $red solid


	.logo
		float: left
		position: relative
		height: 80px
		width: 164px
		
		img
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 0

	ul.nav
		float: left
		margin: 30px 0 0 30px
	
		li
			float: left
			margin: 0 10px

			a
				color: $white
				text-transform: uppercase
				font-size: 16px
				display: block
			
				&:hover,
				&.active
					color: $red
