+fortablet()
	.mid-section
		ul.nav
			overflow: hidden
			+transitionspeed(.3s)
			display: block
			margin: 0
			float: none
			clear: both
			max-height: 0

			li
				float: none
				//display: inline-block
				border-bottom: 1px $darkGray solid
				margin: 0
				&:first-of-type
					border-top: 1px $darkGray solid

				a
					line-height: 30px
					display: block
					padding: 5px 10px 0
					background: $darkGrayDarken

					&.active,
					&:focus
						background: $red
						color: $white
	
			&.show
				margin: 0
				clear: both
				width: 100%
				+transitionspeed(.3s)
				max-height: 1000px
	
	.fullCarouselBlock
		.fullCarousel
			.fc-content
				.imgCaption
					.b1366px
						padding: 0 40px

	.watchBlock
		.imgBlock
			max-height: 303px
			height: auto
			img
				width: auto
				height: 100%
		.captionBlock
			padding: 15px
			.texts
				h3
					font-size: 21px
					line-height: 24px
				p
					font-size: 14px
	.readMore
		.imgBlock
			max-height: 303px
			height: auto
			img
				width: auto
				height: 100%
		.captionBlock
			padding: 15px
			.texts
				h3
					font-size: 21px
					line-height: 24px
				p
					font-size: 14px