//COLOR
$white: 		#fff
$black: 		#000
$darkGray: 		#262626
$lightGray:		#363636
$lighterGray:	#808080
$red:			#e31837
$maroon:		#872836
$lighterMaroon: #912b3a

$liveGreen:		#8dc63f
$darkAqua: 		#2f3837
$lightAqua:		#a4f2e9

$fbBlue:		#537bbd
$twBlue:		#78cdf0

//FONTS
@import fonts
$default: 	'oswald_regular', Arial;
$light: 	'oswald_light', Arial;
$demiBold: 	'oswald_demibold', Arial;
$medium: 	'oswald_medium', Arial;
$bold: 		'oswald_bold', Arial;

$lato:		'Lato', Arial;





