//COLOR
$white: 			#fff
$dirtyWhite:		#d7d7d7
$black: 			#000
$blakish: 			#1b1b1b
$darkGray: 			#262626
$darkGrayDarken: 	darken($darkGray, 3%)
$adsGray:			#363636
$lightGray:			#363636
$lighterGray:		#808080
$red:				#e31837
$maroon:			#872836
$maroonDarken:		darken($maroon, 7%)
$lighterMaroon: 	#912b3a

$liveGreen:			#8dc63f
$darkAqua: 			#2f3837
$darkAquaDarken: 	darken($darkAqua, 3%)
$lightAqua:			#a4f2e9

$fbBlue:			#537bbd
$fbBlueDarken:		darken($fbBlue, 10%)
$twBlue:			#78cdf0
$twBlueDarken:		darken($twBlue, 10%)


//FONTS
@import fonts
$default: 	'oswald_regular', Arial;
$light: 	'oswald_light', Arial;
$demiBold: 	'oswald_demibold', Arial;
$medium: 	'oswald_medium', Arial;
$bold: 		'oswald_bold', Arial;

$lato:		'Lato', Arial;





