
<div class="contBlock light">
  <div class="b1366px">
    <div class="wrap articlePage">
      <div class="leftPanel">
        <div class="ads-content">
          <div class="ads-box-content">
            <p>AD</p>
          </div>
        </div>
        <div class="articleMainImg"><img src="http://lorempixel.com/770/355/"/></div>
        <div class="titleBox">
          <h2>Alaska takes on Barangay Ginebra and Mahindra in Dubai</h2>
        </div>
        <div class="views">
          <p class="dateuploaded">Uploaded on 3/15/2015 </p>
          <p class="count">143,685 Views</p>
        </div>
        <div class="articleTextWrap">
          <div class="socialFeeds"><a href="#" class="fbLink"> <i class="fa fa-facebook fa-2x"></i></a><a href="#" class="twLink"> <i class="fa fa-twitter fa-2x"></i></a><a href="#" class="diggLink"><i class="fa fa-digg fa-2x"></i></a></div>
          <div class="articleMainConts">
            <p class="allcaps">Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.</p>
            <p>Two teams are hoping to secure their confidence both at the expense interestingly of another team that’s seeking to sustain its hot start in the Smart Bro PBA Philippine Cup.</p>
            <p>Of the three, it will be the Aces who are faced with the daunting task of having to play two straight games in their bid to keep their hot streak going in the tournament.</p>
            <p>The Aces tackle the Enforcers first at 8 p.m. (12 midnight Manila time) this Friday at the Al Wasl Stadium, then return to the same venue on the same time the next day to play the Gin Kings.</p>
            <div class="articleImgCarousel">
              <div><img src="http://lorempixel.com/670/445/"/></div>
              <div><img src="http://lorempixel.com/670/445/"/></div>
            </div>
            <p>Both the Enforcers and the Gin Kings have dropped their first two outings in the kickoff conference, and that should be enough motivation for them to give their all against the Aces who are riding on the momentum of back-to-back victories they pulled off against Talk ‘N Text (114-98) and Blackwater (87-79).</p>
            <p>The Enforcers lost to the Elasto Painters (108-94) last October 25, and Talk ‘N Text (101-97) last October 31, and on both occasions, they showed that they can no longer be taken for granted.</p>
            <div class="videoPlayer">
              <iframe width="560" height="349" src="http://www.youtube.com/embed/n_dZNLr2cME?rel=0&amp;hd=1" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>
            <p>The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.</p>
            <p>The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.</p>
            <blockquote>"Nagpapasalamat tayo sa Alaska Aces sa pagpayag nilang maglaro ng back-to-back official games. Alam kong gagawin nila ito para sa ating mga kababayan sa UAE"</blockquote>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.</p>
            <p>The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.</p>
            <p>The PBA officials, headed by chief executive officer Chito Salud, deputy commissioner Rickie Santos and media bureau head Willie Marcial, along with the game and technical officials who will conduct the games, are to leave at 5:45 p.m. today via Emirates.</p>
            <div class="socialIconsFeeds">
              <ul class="shares">
                <li><img src="images/fbShareCountHolder.png"/></li>
                <li><img src="images/twShareCountHolder.png"/></li>
              </ul>
              <ul class="links">
                <li><a href="#" class="fbLink"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#" class="twLink"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#" class="diggLink"><i class="fa fa-digg fa-2x"></i></a></li>
              </ul>
            </div>
            <div class="commentBox"><img src="images/discusCommentBoxHolder.png"/></div>
          </div>
        </div>
        <div class="relatedArticles">
          <div class="titleBox">
            <h2>Related Articles</h2>
          </div>
          <ul class="miniBlock by2s">
            <li>
              <div class="colBlock articles">
                <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
                <div class="captionBlock">
                  <div class="texts">
                    <h3 class="minis"><a href="#" class="simpleLink">2015 FIBA Asia Championship Championship Championship</a></h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="colBlock articles">
                <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
                <div class="captionBlock">
                  <div class="texts">
                    <h3 class="minis"><a href="#" class="simpleLink">2015 FIBA Asia Championship Championship Championship</a></h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="colBlock articles">
                <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
                <div class="captionBlock">
                  <div class="texts">
                    <h3 class="minis"><a href="#" class="simpleLink">2015 FIBA Asia Championship Championship Championship</a></h3>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="colBlock articles">
                <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
                <div class="captionBlock">
                  <div class="texts">
                    <h3 class="minis"><a href="#" class="simpleLink">2015 FIBA Asia Championship Championship Championship</a></h3>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="rightPanel">
        <div class="sideAds"><img src="http://lorempixel.com/300/250/"/>
        </div>
        <div class="relatedListArticle">
          <ul>
            <li>
              <div class="imgBlock"><img src="http://lorempixel.com/90/60/"/></div>
              <div class="titleWrap">
                <h2><a href="#">Slow starts and hard shots:<span>The Barangay Ginebra experience</span></a>
                  <p class="author">by Chuck Araneta</p>
                </h2>
              </div>
            </li>
            <li>
              <div class="imgBlock"><img src="http://lorempixel.com/90/60/"/></div>
              <div class="titleWrap">
                <h2><a href="#">Slow starts and hard shots:<span>The Barangay Ginebra experience</span></a>
                  <p class="author">by Chuck Araneta</p>
                </h2>
              </div>
            </li>
            <li>
              <div class="imgBlock"><img src="http://lorempixel.com/90/60/"/></div>
              <div class="titleWrap">
                <h2><a href="#">Slow starts and hard shots:<span>The Barangay Ginebra experience</span></a>
                  <p class="author">by Chuck Araneta</p>
                </h2>
              </div>
            </li>
            <li>
              <div class="imgBlock"><img src="http://lorempixel.com/90/60/"/></div>
              <div class="titleWrap">
                <h2><a href="#">Slow starts and hard shots:<span>The Barangay Ginebra experience</span></a>
                  <p class="author">by Chuck Araneta</p>
                </h2>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>