
<div class="contBlock dark">
  <div class="b1366px">
    <div class="leftPanel">
      <div class="titleBox">
        <h2>Basketball</h2><a href="#" class="moreBtn">More</a>
      </div>
      <div class="wrap">
        <div class="colBlock">
          <div class="imgBlock">
            <div class="mobImg"><img src="http://lorempixel.com/315/250/?3"/></div>
            <div class="defImg"><img src="http://lorempixel.com/770/315/?2"/></div>
          </div>
          <div class="captionBlock captionrel">
            <div class="texts">
              <h3>2015 FIBA Asia Championship: Second Round</h3>
              <p>ph vs. iran</p>
            </div><a href="#" class="watchNowLink">Watch Now</a>
          </div>
        </div>
        <ul class="miniBlock by2s">
          <li>
            <div class="colBlock">
              <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
              <div class="captionBlock">
                <div class="texts">
                  <h3 class="minis">2015 FIBA Asia Championship</h3>
                </div><a href="#" class="readMoreLink">Read More</a>
              </div>
            </div>
          </li>
          <li>
            <div class="colBlock">
              <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
              <div class="captionBlock">
                <div class="texts">
                  <h3 class="minis">2015 FIBA Asia Championship</h3>
                </div><a href="#" class="readMoreLink">Read More</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="rightPanel">
      <div class="titleBox">
        <h2>Standings</h2>
      </div>
      <div class="wrap">
        <div class="schedTab">
          <ul class="leagueTab">
            <li><a href="#pba">pba</a></li>
            <li><a href="#psl">psl</a></li>
            <li><a href="#ufl">ufl</a></li>
          </ul>
          <div id="pba" class="schedCont">
            <table class="schedTable">
              <thead>
                <tr>
                  <th class="rank">
                    <p>Rank</p>
                  </th>
                  <th class="team">
                    <p>2015 governor's cup</p>
                  </th>
                  <th class="win">
                    <p>W</p>
                  </th>
                  <th class="loss">
                    <p>L</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="psl" class="schedCont">
            <table class="schedTable">
              <thead>
                <tr>
                  <th class="rank">
                    <p>Rank</p>
                  </th>
                  <th class="team">
                    <p>2015 psl's cup</p>
                  </th>
                  <th class="win">
                    <p>W</p>
                  </th>
                  <th class="loss">
                    <p>L</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="ufl" class="schedCont">
            <table class="schedTable">
              <thead>
                <tr>
                  <th class="rank">
                    <p>Rank</p>
                  </th>
                  <th class="team">
                    <p>2015 ufl's cup</p>
                  </th>
                  <th class="win">
                    <p>W</p>
                  </th>
                  <th class="loss">
                    <p>L</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?1"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?2"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>3</p>
                  </td>
                  <td>
                    <div class="imgBlock"><img src="http://lorempixel.com/75/44/?3"/></div>
                    <p class="teamName">Kia</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                  <td>
                    <p>0</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>