
<div class="carouselScheduleBlock">
  <div class="b1000px">
    <h1>Schedule</h1>
    <div class="carouselSchedule">
      <div class="csBox">
        <div class="block">
          <div class="dateBox">
            <p class="month">Oct</p>
            <p class="date">18</p>
            <p class="day">Fri</p>
          </div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>