
<div class="carouselScheduleBlock">
  <div class="b1000px">
    <h1>Schedule</h1>
    <div class="carouselSchedule">
      <div class="csBox">
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">18</span><span class="day">Fri</span></div>
          <div class="league single">
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/2"/></div>
                  <p>TnT<span class="win">105</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/3"/></div>
                  <p>BGK<span>85</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">12</span><span class="day">Sat</span></div>
          <div class="league double">
            <div class="game">
              <h2>PSL</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/4"/></div>
                  <p>CHS</p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/5"/></div>
                  <p>PBS</p>
                </li>
              </ul>
            </div>
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/6"/></div>
                  <p>STR</p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/7"/></div>
                  <p>BLT</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">18</span><span class="day">Fri</span></div>
          <div class="league single">
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/2"/></div>
                  <p>TnT<span class="win">105</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/3"/></div>
                  <p>BGK<span>85</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">12</span><span class="day">Sat</span></div>
          <div class="league double">
            <div class="game">
              <h2>PSL</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/4"/></div>
                  <p>CHS</p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/5"/></div>
                  <p>PBS</p>
                </li>
              </ul>
            </div>
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/6"/></div>
                  <p>STR</p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/7"/></div>
                  <p>BLT</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>