
<div class="carouselScheduleBlock">
  <div class="b1366px">
    <h1>Schedule</h1>
    <div class="carouselSchedule">
      <div class="csBox">
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">18</span><span class="day">Fri</span></div>
          <div class="league single">
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?1"/></div>
                  <p>TnT<span class="win">105</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?2"/></div>
                  <p>BGK<span>85</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">12</span><span class="day">Sat</span></div>
          <div class="league double">
            <div class="game">
              <h2>PSL</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?3"/></div>
                  <p>CHS<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?4"/></div>
                  <p>PBS<span>0</span></p>
                </li>
              </ul>
            </div>
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?5"/></div>
                  <p>STR<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?6"/></div>
                  <p>BLT<span>0</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">18</span><span class="day">Fri</span></div>
          <div class="league single">
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?7"/></div>
                  <p>TnT<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?8"/></div>
                  <p>BGK<span>0</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">17</span><span class="day">Sat</span></div>
          <div class="league double">
            <div class="game">
              <h2>PSL</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?9"/></div>
                  <p>CHS<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?10"/></div>
                  <p>PBS<span>0</span></p>
                </li>
              </ul>
            </div>
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?11"/></div>
                  <p>STR<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?12"/></div>
                  <p>BLT<span>0</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"><span class="month">Oct</span><span class="date">12</span><span class="day">Sat</span></div>
          <div class="league double">
            <div class="game">
              <h2>PSL</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?9"/></div>
                  <p>CHS<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?10"/></div>
                  <p>PBS<span>0</span></p>
                </li>
              </ul>
            </div>
            <div class="game">
              <h2>PBA</h2>
              <ul>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?11"/></div>
                  <p>STR<span>0</span></p>
                </li>
                <li class="vs">
                  <p>vs</p>
                </li>
                <li>
                  <div class="logoBox"><img src="http://lorempixel.com/50/35/?12"/></div>
                  <p>BLT<span>0</span></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>