
<div class="header">
  <div class="top-section">
    <div class="b1000px">
      <ul class="topnav">
        <li><a href="#" class="home"><i class="fa fa-home fa-lg"></i></a></li>
        <li><a href="#" class="live">Live <i class="fa fa-circle"></i></a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Entertainment</a></li>
        <li class="dropdown"><a href="#">More <i class="fa fa-chevron-down"></i></a>
          <ul>
            <li><a href="#">Lorem Ipsum</a></li>
            <li><a href="#">Link Nav One</a></li>
          </ul>
        </li>
      </ul>
      <ul class="signlogs">
        <li><a href="#" class="signup">Signup</a></li>
        <li><a href="#" class="login">Login</a></li>
      </ul>
    </div>
  </div>
  <div class="mid-section">
    <div class="b1000px">
      <div class="logo"><img src="images/main-logo.png"/></div>
      <ul class="nav">
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Live</a></li>
        <li><a href="#">Basketball</a></li>
        <li><a href="#">Volleyball</a></li>
        <li><a href="#">Football</a></li>
        <li><a href="#">E-Sports</a></li>
        <li><a href="#">Shows</a></li>
        <li><a href="#">Upload</a></li>
      </ul>
    </div>
  </div>
</div>