
<div class="adsBlock">
  <div class="b1000px">
    <div class="placeholder"><img src="http://lorempixel.com/abstract/728/90/"/>
    </div>
  </div>
</div>
<div class="fullCarouselBlock">
  <div class="fullCarousel">
    <div class="fc-content">
      <div class="imgBlock">
        <div class="mobImg"><img data-lazy="http://lorempixel.com/767/450/sports/2"/></div>
        <div class="defImg"><img data-lazy="http://lorempixel.com/1200/750/sports/2"/></div>
      </div>
      <div class="imgCaption">
        <div class="b1000px">
          <div class="tag"><a href="#">fiba</a></div>
          <h1>Fiba Asia Game Preview</h1>
          <p>Gilas Pilipinas out for No. 1 seeding in Group E battle with India</p>
        </div>
      </div>
    </div>
    <div class="fc-content">
      <div class="imgBlock">
        <div class="mobImg"><img data-lazy="http://lorempixel.com/767/450/sports/5"/></div>
        <div class="defImg"><img data-lazy="http://lorempixel.com/1200/750/sports/5"/></div>
      </div>
      <div class="imgCaption">
        <div class="b1000px">
          <div class="tag"><a href="#">fiba</a></div>
          <h1>Fiba Asia Game Preview</h1>
          <p>Gilas Pilipinas out for No. 1 seeding in Group E battle with India</p>
        </div>
      </div>
    </div>
  </div>
  <div class="prevBtn"></div>
  <div class="nextBtn"></div>
</div>
<div class="carouselScheduleBlock">
  <div class="b1000px">
    <h1>Schedule</h1>
    <div class="carouselSchedule">
      <div class="csBox">
        <div class="block">
          <div class="dateBox">
            <p class="month">Oct</p>
            <p class="date">18</p>
            <p class="day">Fri</p>
          </div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
        <div class="block">
          <div class="dateBox"></div>
          <div class="league">
            <div class="team">
              <p>hi pba</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>