
<div class="contBlock light">
  <div class="b1366px">
    <div class="wrap">
      <div class="leftPanel">
        <ul class="miniBlock by2s feedBlocks">
          <li>
            <div class="fbFeed"><img src="http://lorempixel.com/370/315/?3"/></div>
          </li>
          <li>
            <div class="twFeed"><img src="http://lorempixel.com/370/315/?4"/></div>
          </li>
        </ul>
      </div>
      <div class="rightPanel">
        <div class="sideAds"><img src="http://lorempixel.com/300/250/"/>
        </div>
      </div>
    </div>
  </div>
</div>