
<div class="contBlock light">
  <div class="b1366px">
    <div class="wrap">
      <div class="leftPanel">
        <ul class="miniBlock by2s">
          <li>
            <div class="colBlock">
              <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
              <div class="captionBlock">
                <div class="texts">
                  <h3 class="minis">2015 FIBA Asia Championship</h3>
                </div><a href="#" class="readMoreLink">Read More</a>
              </div>
            </div>
          </li>
          <li>
            <div class="colBlock">
              <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
              <div class="captionBlock">
                <div class="texts">
                  <h3 class="minis">2015 FIBA Asia Championship</h3>
                </div><a href="#" class="readMoreLink">Read More</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="rightPanel">
        <div class="sideAds"><img src="http://lorempixel.com/300/250/"/>
        </div>
      </div>
    </div>
  </div>
</div>