
<div class="contBlock light">
  <div class="b1366px">
    <div class="wrap">
      <ul class="socialFeeds">
        <li>
          <div class="content">
            <div class="fbFeed"><img src="http://lorempixel.com/370/370/?3"/></div>
          </div>
        </li>
        <li>
          <div class="content">
            <div class="twFeed"><img src="http://lorempixel.com/370/370/?4"/></div>
          </div>
        </li>
        <li>
          <div class="content">
            <div class="adsFeed">
              <div class="adbox"> 
                <h1>AD</h1>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!--.rightPanel
      .sideAds
      	+ads_300x250//
      -->
    </div>
  </div>
</div>