
<div class="contBlock light">
  <div class="b1366px">
    <div class="titleBox">
      <h2>Volleyball</h2><a href="#" class="moreBtn">More</a>
    </div>
    <div class="wrap">
      <ul class="miniBlock by3s">
        <li>
          <div class="colBlock">
            <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
            <div class="captionBlock captionrel">
              <div class="texts">
                <h3 class="minis">2015 FIBA Asia Championship</h3>
              </div><a href="#" class="watchNowMiniLink">Watch Now</a>
            </div>
          </div>
        </li>
        <li>
          <div class="colBlock">
            <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
            <div class="captionBlock captionrel">
              <div class="texts">
                <h3 class="minis">2015 FIBA Asia Championship</h3>
              </div><a href="#" class="watchNowMiniLink">Watch Now</a>
            </div>
          </div>
        </li>
        <li>
          <div class="colBlock">
            <div class="imgBlock"><img src="http://lorempixel.com/370/310/?3"/></div>
            <div class="captionBlock captionrel">
              <div class="texts">
                <h3 class="minis">2015 FIBA Asia Championship</h3>
              </div><a href="#" class="watchNowMiniLink">Watch Now</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>