mixin watchNow
	.colBlock
		.imgBlock
			.mobImg
				img(src="http://lorempixel.com/315/250/?3")
			.defImg
				img(src="http://lorempixel.com/770/315/?2")
		.captionBlock
			.texts
				h3.
					2015 FIBA Asia Championship: Second Round
				p.
					ph vs. iran
			a(href="#", class="watchNowLink") Watch Now

mixin readMore
	.colBlock
		.imgBlock
			img(src="http://lorempixel.com/370/310/?3")
		.captionBlock
			.texts
				h3.minis 2015 FIBA Asia Championship
			a(href="#", class="readMoreLink") Read More

mixin miniWatch
	.colBlock
		.imgBlock
			img(src="http://lorempixel.com/370/310/?3")
		.captionBlock
			.texts
				h3.minis 2015 FIBA Asia Championship
			a(href="#", class="watchNowMiniLink") Watch Now
			
mixin articles
	.colBlock.articles
		.imgBlock
			img(src="http://lorempixel.com/370/310/?3")
		.captionBlock
			.texts
				h3.minis 2015 FIBA Asia Championship
				p.
					ph vs. iran
mixin articlesfeatured
	.colBlock.articles
		.imgBlock
			.mobImg
				img(src="http://lorempixel.com/315/250/?3")
			.defImg
				img(src="http://lorempixel.com/780/315/?2")
		.captionBlock
			.texts
				h3 2015 FIBA Asia Championship
				p.
					ph vs. iran
			a(href="#", class="watchNowLink") Watch Now

mixin showsConts
	.colBlock
		.imgBlock
			img(src="http://lorempixel.com/315/250/?3")
		.captionBlock
			.texts
				h3.minis.link
					a(href="#") 2015 FIBA Asia Championship
					